/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Lato'; 
}

.ln-30 {
    line-height: 30px;
}

.table td, .table:not(.table-bordered) th {
    vertical-align: middle;
}

.image-container-preview img {
    max-width: 300px;
    margin-top: 10px;
    padding: 3px;
    border: solid 1px #DDD;
}

.table td .thumbnail {
    max-width: 130px;
}